<div class="card mat-card">
    <!-- <div class="card-header"><h1 class="text-center text-primary">Login </h1></div> -->
    <!-- <h1 class="text-center text-primary headerText">Login </h1> -->
    <div class="card-body example-card">
      
      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="processLoginForm()"><h1 class="text-center text-primary headerText">Login </h1>
        
        <!-- Email input -->
        <mdb-form-control class="mb-4">
          <input mdbInput type="text" formControlName="username" class="form-control form-control-lg" />
          <label mdbLabel class="form-label"  for="typeText">User Name</label>
        </mdb-form-control>
      
        <!-- Password input -->
        <mdb-form-control class="mb-4">
          <input mdbInput type="password" formControlName="password" class="form-control form-control-lg" />
          <label mdbLabel class="form-label" for="typeText">Password</label>
        </mdb-form-control>
      
        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
              <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
          </div>
      
          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4" mdbRipple>Sign in</button>
      
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a routerLink="/register" routerLinkActive="router-link-active" >Register</a></p>
          <p>or sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>
      
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </form>
    </div>
    
  </div>