<nav class="navbar">
  <button class="btn" data-bs-toggle="modal" data-bs-target="#partymodal">
    <i class="fa fa-indent text-success"></i>Add
  </button>
</nav>



<!-- modal party -->
<div
  class="modal fade"
  id="partymodal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registration Form</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          #closebutton
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="partyForm">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >First Name</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="firstname"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Last Name</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="lastname"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >User Name</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="username"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Password
            </label>
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="password"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="email"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Mobile No</label
            >
            <input
              type="text"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="mobileno"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Status</label>
            <select formControlName="status" class="form-control">
              <option value="1">Approved</option>
              <option value="0">Not Approved</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary" >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>